body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    background-image: url("images/me.jpeg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 50%;
    overflow: auto;
    padding: 20px;
    text-align: center;
  }

  .imgtag{
    color:#ffff;
    font-weight: 500;
    text-align: right;
  }

  .container-fluid{
    position: absolute;
    color: white;
    z-index: 3;
  }

  .card-footer{
     position: absolute;
     text-align: center;
     color: white;
     z-index: 2;
     /* margin-top: 40px; */
  }

  .img{
      float: right;
      margin: 2px 0 0 2px;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      position: 30px;
  }
  .imgcon{
    margin: 30% 0 0 2px;
    flex-direction: column;
    filter: blur(1px);
    position: relative;
    overflow: hidden;
    position: 30px;}

  .cont{
    color: rgb(95, 156, 247);
  }